@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,600,700,800');


/*------------------------General-------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	background: #FFFFFF;
	color: #6e6e6e;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	color: #6e6e6e;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: 1px solid rgba(255, 66, 0, 0.7);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a:hover {
	color: #ff4200;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1 {
	font-size: 72px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 11px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.super_container {
	width: 100%;
	overflow: hidden;
}

.button {
	width: 187px;
	height: 66px;
	background: #ff4200;
	overflow: hidden;
}

.button a {
	display: block;
	width: 187px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 300;
	line-height: 66px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.button a::after {
	display: block;
	position: absolute;
	top: -50%;
	left: -70px;
	width: 60px;
	height: 200%;
	background: rgba(255,255,255,0.1);
	content: '';
	-webkit-transform: rotate(12.5deg);
	-moz-transform: rotate(12.5deg);
	-ms-transform: rotate(12.5deg);
	-o-transform: rotate(12.5deg);
	transform: rotate(12.5deg);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	z-index: 0;
}

.button a:hover::after {
	left: calc(100% + 70px);
}

.section_title h2 {
	display: inline-block;
	position: relative;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	line-height: 1.35;
	width: 600px;
	text-shadow: 1px 1px 1px #fff;
	top: 90px;
}

.offset-lg-3 { 
	margin: 0px auto;
}

.col-lg-6 {
	max-width: 100%;
}

ul, li {
	list-style: none; 
}


/*------------------------Header-------------------------------*/
.over-site-header {
	visibility: hidden;
	height: 100px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
	padding-left: 48px;
	padding-right: 48px;
	z-index: 20;
	background: #FFFFFF;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.logo_container {
	flex-basis: 50%;
}

.logo {
	margin-left: 7px;
}

.logo a {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #171717;
	text-transform: uppercase;
}

.logo span:first-of-type {
	position: absolute;
	top: 0;
	left: -5px;
	color: #ff4200;
	z-index: -1;
}

.logo span:last-of-type {
	color: #ff4200;
	font-size: 10px;
	position: absolute;
	bottom: 0px;
	left: 1px;
}

.main_nav {
	height: 100%;
	flex-basis: 200%;
	text-align: right;
}

.nav_items {
	height: 100%;
}

.nav_items li {
	display: inline-block;
	margin-left: 35px;
	height: 100%;
}

.nav_items li a {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #0b1033;
	letter-spacing: 3.5px;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 14px;
	padding-right: 10px;
		width: 105px;
}

.nav_items li.active {
	background: #ff4200;
}

.nav_items li.active a {
	color: #FFFFFF;
}

.nav_items li:hover {
	background: #ff4200;
}

.nav_items li:hover a {
	color: #FFFFFF;
}


/*------------------------Hamburger Menu-------------------------------*/
.hamburger_container {
	display: none;
	cursor: pointer;
	padding: 10px;
	margin-right: -10px;
	flex-basis: 50%;
	text-align: right;
}

.hamburger_icon {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 3px;
	background: #171717;
	margin-bottom: 4px;
}

.hamburger_icon::before,
.hamburger_icon::after {
	display: block;
	position: absolute;
	left: 0;
	width: 22px;
	height: 3px;
	background: #171717;
	content: '';
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.hamburger_icon.active {
	background: transparent;
}

.hamburger_icon.active::before {
	top: -9px;
	transform: translateY(9px) rotate(45deg);
}

.hamburger_icon.active::after {
	top: 9px;
	transform: translateY(-9px) rotate(-45deg);
}

.hamburger_icon::before {
	top: -6px;
}

.hamburger_icon::after {
	top: 6px;
}

.hamburger_container:hover .hamburger_icon::before {
	top: -8px;
}

.hamburger_container:hover .hamburger_icon::after {
	top: 8px;
}

.hamburger_container:hover .hamburger_icon.active::before {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	top: 0;
}

.hamburger_container:hover .hamburger_icon.active::after {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	top: 0;
}

.fs_menu_container {
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 19;
	-webkit-transition: all 1s 0s cubic-bezier(1,0,0,1);
	-moz-transition: all 1s 0s cubic-bezier(1,0,0,1);
	-ms-transition: all 1s 0s cubic-bezier(1,0,0,1);
	-o-transition: all 1s 0s cubic-bezier(1,0,0,1);
	transition: all 1s 0s cubic-bezier(1,0,0,1);
	padding-left: 48px;
	padding-right: 63px;
	padding-top: 150px;
	text-align: right;
}

.fs_menu_container.active {
	top: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

.fs_menu_list {
	display: inline-block;
}

.fs_menu_list li {
	overflow: hidden;
}

.fs_menu_list li a {
	display: inline-block;
	font-size: 62px;
	font-weight: 700;
	color: #171717;
	line-height: 1.4;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	-moz-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	-ms-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	-o-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	transition: all 1600ms cubic-bezier(.19,1,.22,1);
}

.fs_menu_list li:first-child a {transition-delay: 600ms;}
.fs_menu_list li:nth-child(2) a {transition-delay: 670ms;}
.fs_menu_list li:nth-child(3) a {transition-delay: 740ms;}
.fs_menu_list li:nth-child(4) a {transition-delay: 810ms;}
.fs_menu_list li:nth-child(5) a {transition-delay: 880ms;}
.fs_menu_list li:nth-child(6) a {transition-delay: 950ms;}
.fs_menu_list li:nth-child(7) a {transition-delay: 900ms;}
.fs_menu_list li:nth-child(8) a {transition-delay: 950ms;}
.fs_menu_list li:nth-child(9) a {transition-delay: 1000ms;}
.fs_menu_list li:nth-child(10) a {transition-delay: 1050ms;}

.fs_menu_container.active .fs_menu_list li a {
	transform: none;
}

.fs_menu_list li a span {
	position: relative;
}

.fs_menu_list li a span span {
	position: absolute;
	top: -1px;
	left: -5px;
	color: #ff4200;
	z-index: -1;
}

.fs_menu_list li a > span::after {
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 0%;
	height: 3px;
	background: #171717;
	content: '';
	-webkit-transition: all 600ms cubic-bezier(.19,1,.22,1);
	-moz-transition: all 600ms cubic-bezier(.19,1,.22,1);
	-ms-transition: all 600ms cubic-bezier(.19,1,.22,1);
	-o-transition: all 600ms cubic-bezier(.19,1,.22,1);
	transition: all 600ms cubic-bezier(.19,1,.22,1);
}

.fs_menu_list li a:hover span::after {
	width: 100%;
}

.fs_social_container {
	position: absolute;
	bottom: 0px;
	right: 63px;
	width: auto;
	height: 74px;
	z-index: 11;
}

.fs_social li {
	display: inline-block;
	margin-left: 10px;
}

.fs_social li a {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.fs_social li i {
	font-size: 13px;
	color: rgba(255,66,0,0.8);
}

.fs_social li:hover i {
	color: rgba(255,66,0,1);
}


/*------------------------Sticky Side Buttons-------------------------------*/
.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
  
.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}
  
.icon-bar a:hover {
	opacity: 0.8;
	box-shadow: 0px 0px 3px #fff;
}
  
.facebook {
	background: #3B5998;
	color: white;
}
  
.twitter {
	background: #55ACEE;
	color: white;
}
  
.google {
	background: #dd4b39;
	color: white;
}
  
.linkedin {
	background: #007bb5;
	color: white;
}
  
.youtube {
	background: #bb0000;
	color: white;
} 


/*------------------------Slider-------------------------------*/
.slideshow-container {
    width: 100%;
    position: relative;
	margin: 10px auto 0px;
	height: 700px;
}

.mySlides.fade img {
	height: 700px;
	width: 100%;
	filter: brightness(70%);
}

.mySlides.fade h2 { 
	font-weight: 300;
    color: #FFFFFF;
    position: relative;
	font-size: 60px;
	margin-left: 140px;
	bottom: 400px;
	max-width: 80%;
}

.mySlides.fade h2 span {
	font-family: 'Myriad Pro Regular', sans-serif;
}
  
.subline {
	position: relative;
    bottom: 350px;
	transform: translateY(-70%);
	font-size: 24px;
	font-weight: 300;
	color: #FFFFFF;
	margin-left: 140px;
	max-width: 80%;
	display: inline-block;
	min-height: 96px;
}

.fade:not(.show) {
	opacity: 1;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color:#fff !important;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: 60px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: 60px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #ff4200 !important;
}

.dots {
	text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
	transition: background-color .6s ease;
	bottom: 45px;
	position: relative;
}

.active,
.dot:hover {
    background-color: #ff4200;
}
  

/*------------------------Features-------------------------------*/
.features_col {
	padding-top: 50px;
	padding-bottom: 60px;
}

.features_item h3 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.features_item p {
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: 23px;
	max-width: 100%;
	min-height: 210px;
}


/*------------------------About-------------------------------*/
.container_about, 
.row_about {
	height: 95%;
}

.about {
	width: 100%;
	height: 600px;
}

#about {
	margin: auto;
}

.about_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.about_background img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.about_text {
	padding-right: 50px;
}

.about_text p {
	margin-bottom: 0px;
  	color: #000;
 	 font-weight: bold;
 	 text-shadow: 1px 1px 1px #fff;
  	text-align: left;
}

.container_progress {
	margin: auto;
}

.progress-title {
    font-size: 18px;
    font-weight: 600;
    color: #000;
	margin: 0 0 5px;
	text-shadow: 0px 0px 0.5px #ff4200;
}

.progress {
    height: 10px;
	margin-bottom: 10px;
	width: 300px;
}

.progress .progress-bar {
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
	animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}

.progress-bar {
	width: 100%;
}


/*------------------------Pricing-------------------------------*/
#pricing {
	max-width: 1000px;
	padding-bottom: 40px;
}

.head_bg {
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
 	border-style: solid;
	border-width: 70px 1411px 23px 399px;
	position: absolute;
}

.generic_content.active .generic_head_price .generic_head_content .head_bg,
.generic_content:hover .generic_head_price .generic_head_content .head_bg {
  border-color: #ff4200 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff4200;
  color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span {
  color: #fff;
}

#generic_price_table {
  margin: 50px 0 50px 0;
  font-family: 'Open Sans', sans-serif;
}

.row .table {
	padding: 28px 0;
}

.generic_content {
  overflow: hidden;
  position: relative;
  text-align: center;
	background-color: #fff;
}

.generic_head_price {
  border-bottom: 1px solid rgb(255,66,0,0.2);
	background-color: #f6f6f6;
}

.generic_head_content {
  margin: 0 0 40px 0;
}

.head {
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

.head span {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
	color: #525252;
}

.generic_price_tag {
  padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price {
  display: block;
	color: #282828;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 40px;
  padding: 0;
  vertical-align: middle;
	color: #282828;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  vertical-align: bottom;
	color: #282828;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
	color: #282828;
}

.generic_feature_list {
	background: #f6f6f6;
}

.generic_feature_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.generic_feature_list ul li span {
  color: #282828;
	padding: 10px;
}

.generic_feature_list ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 15px 50px;
  transition: all 0.3s ease-in-out 0s;
	text-align: left;
	color: #6e6e6e;
}

.generic_feature_list ul li:hover {
	background-color: #E4E4E4;
  border-left: 5px solid #ff4200;
}

.generic_feature_list ul li .fa {
  padding: 0 10px;
}

.generic_content:hover .generic_price_btn a,
.generic_content.active .generic_price_btn a {
  background-color: #ff4200;
  color: #fff;
}

.generic_price_btn_field {
	height: 120px;
	background: #f6f6f6;
}

.generic_price_btn {
  	border-top: 1px solid rgb(255,66,0,0.2);
}

.generic_price_btn a {
 	display: inline-block;
 	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	outline: medium none;
 	padding: 12px 30px;
 	text-decoration: none;
 	text-transform: uppercase;
	border: 2px solid #ff4200;
	color: #ff4200;
	background: #fff;
	margin-top: 30px;
	letter-spacing: 1px;
}

.generic_price_btn a::after {
	display: block;
	position: absolute;
	top: -50%;
	left: -70px;
	width: 60px;
	height: 200%;
	background: rgba(255,255,255,0.1);
	content: '';
	-webkit-transform: rotate(12.5deg);
	-moz-transform: rotate(12.5deg);
	-ms-transform: rotate(12.5deg);
	-o-transform: rotate(12.5deg);
	transform: rotate(12.5deg);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	z-index: 0;
}

.generic_price_btn a:hover::after {
	left: calc(100% + 70px);
}

.text-center h1,
.text-center h1 a {
  color: #7885CB;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

#free {
	padding-bottom: 40px !important;
}

.fa.fa-times {
	color: #ff0000 !important;
}

.fa.fa-check {
	color: #4cbb17 !important;
}

.pricing_title h2 {
	top: 0px !important;
	margin-bottom: 30px;
}

  
/*------------------------Services-------------------------------*/
.services {
	z-index: 1;
	height: 900px;
}

.services_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.services_background img {
	position: absolute;
	width: 100%;
	height: 100%;
}

#services-container {
	background: rgba(225, 225, 225, 0.5);
	height: 100%;
}

.service_row {
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.service_item {
	margin-bottom: 30px;
}

.service_item h3 {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.service_item p {
	color: #000;
	max-width: 100%;
}

.icon_container {
	height: 41px;
	width: auto;
	margin-bottom: 20px;
}

.button_row {
	position: relative;
	bottom: 10%;
}

.services_button {
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	border: 2px solid #ff4200;
}

#service-button {
	color: #ff4200;
}

#service-button:hover {
	background: #ff4200;
	color: #fff;
}


/*------------------------Testimonials Slider-------------------------------*/
.testimonials h2 {
	top: 50px;
}

.testimonial_slider {
	height: 500px;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.slider__nav {
	width: 12px;
	height: 12px;
	margin: 2rem 12px;
	border-radius: 50%;
	z-index: 10;
	outline: 6px solid #6e6e6e;
	outline-offset: -6px;
	box-shadow: 0 0 0 0 #6e6e6e, 0 0 0 0 rgba(255, 66, 0, 0);
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	bottom: 40px;
	position: relative;
}

.slider__nav:checked {
	-webkit-animation: check 0.4s linear forwards;
	animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
	left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
	left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
	left: -200%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
	left: -300%;
}

.slider__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 300%;
	height: 100%;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.slider__contents {
	height: 100%;
	padding: 2rem;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;		
}

.slider__image img {
	width: 130px;
	position: relative;
	 bottom: 10px;
}

.slider__txt {
	color: #6e6e6e;
	margin-bottom: 3rem;
	max-width: 300px;
}
  
@-webkit-keyframes check {
	50% {
	  outline-color: #ff4200;
	  box-shadow: 0 0 0 12px #ff4200, 0 0 0 36px rgba(255, 66, 0, 0.2);
	}
	100% {
	  outline-color: #ff4200;
	  box-shadow: 0 0 0 0 #ff4200, 0 0 0 0 rgba(255, 66, 0, 0);
	}
}
  
@keyframes check {
	50% {
	  outline-color: #ff4200;
	  box-shadow: 0 0 0 12px #ff4200, 0 0 0 36px rgba(255, 66, 0, 0.2);
	}
	100% {
	  outline-color: #ff4200;
	  box-shadow: 0 0 0 0 #ff4200, 0 0 0 0 rgba(255, 66, 0, 0);
	}
}


/*------------------------Contact-------------------------------*/
.contact {
	height: 600px;
	width: 100%;
}

.contact_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.contact_background img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container_contact, .row_contact {
	height: 95%;
}

.contact_text {
	margin: auto;
}

.contact_text p {
	color: #000;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
}

.contact_button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.back_button {
	background-color: rgba(255, 66, 0, 0.7);
	width: 60px;
	height: 35px;
	position: fixed;
	bottom: 0px;
	right: 60px;
	text-align: center;
	z-index: 10;
}

.fa-angle-up { 
	color:#fff;
	font-size: 30px;
}


/*------------------------Footer-------------------------------*/
.footer {
	background: #282828;
}

.footer_container {
	max-width: 100%;
}

.footer_row { 
	margin-top: 13px;
}

.footer_content {
	height: 96px;
}

.footer_social_container {
	display: inline-block;
}

.footer_social li {
	display: inline-block;
	margin-left: 6px;
}

.footer_social li:first-child {
	margin-left: 0px;
}

.footer_social li a {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.footer_social li i {
	font-size: 14px;
	color: rgba(110,110,110,0.8);
}

.footer_social li:hover i {
	color: #ff4200;
}

.footer-link {
	float: left;
	margin: 10px 10px 0px 0px;
	position: relative;
	bottom: 15px;
}

.footer_links a {
	color: inherit;
}

.footer_links a:hover {
	color: #ff4200;
}


/*------------------------Responsive-------------------------------*/
@media (max-width: 1040px)
{
	.icon-bar {
		display: none;
	}

	.nav_items li {
		margin-left: 0px;
	}

	.footer {
		height: 150px;
	}
}

@media (max-width: 991px)
{	
	.back_button {
		right: 5px;
	}

	.features_col {
		padding: 0px;
	}

	.features_item p { 
		min-height: auto;
		margin: 0px 20px 60px;
	}

	.section_title_about { 
		top: 30px !important;
	}

	.about_text {
		padding: 0px;
	}
	
	.about_text p { 
		text-align: center;
	}

	.container_progress {
		margin: 0px auto;
	}

	#services-container {
		max-width: 100%;
		max-height: 90%;
	}

	.service_item { 
		max-width: 50%;
		margin: 0px;
	}

	.services_button {
		top: 80px;
	}
}

@media (max-width: 821px)
{
	.main_nav {
		display: none;
	}

	.hamburger_container {
		display: block;
	}

	.mySlides.fade h2 {
		max-width: 70%;
		bottom: 450px;
	}

	.subline {
		max-width: 70%;
		min-height: 144px;
	}

	.services {
		height: auto;
	}

	.service_item { 
		max-width: 100%;
	}

	.services_button {
		top: 0px;
		margin-bottom: 20px;
	}
}
	

@media (max-width: 600px)
{
	
	.section_title h2 {
		width: 100%;
	}

	.slideshow-container {
		max-height: 400px;
	}

	.prev { 
		left: 10px;
	}

	.next {
		right: 10px;
	}

	.mySlides.fade img {
		max-height: 400px;
	}

	.mySlides.fade h2 {
		margin-left: 50px;
		font-size: 30px;
		font-weight: 500;
		bottom: 300px;
	}

	.subline {
		margin-left: 50px;
		font-size: 18px;
		min-height: 144px;
		bottom: 200px;
		font-weight: 400;
	}

	#slider-caption {
		bottom: 350px;
	}

	#slider-text {
		bottom: 240px;
		min-height: 180px;
	}

	#about {
		margin: 20px 0px;
	}

	.about {
		height: 100%;
	}

	.generic_content {
		margin-bottom: 50px;
	}

	.footer {
		height: 200px;
	}

	.footer_container {
		padding: 0px;
	}

	.row.footer_content {
		height: 100%;
	}

	.footer_row {
		margin-top: 0px;
	}
	
	.footer_social {
		padding: 0px;
	}

	.footer-link {
		float: none;
		margin: 0px;
	}
}

@media (max-width: 414px)
{
	.mySlides.fade h2 {
		font-size: 25px;
	}

	.subline {
		font-size: 17px;
		min-height: 180px;
		bottom: 180px;
	}

	#slider-caption {
		bottom: 300px;
	}

	#slider-text {
		bottom: 180px;
	}
}